:global .CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: auto;
  direction: ltr;
}

:global .CodeMirror-lines {
  min-height: 600px;
}
